// Variables

// Restated Bootstrap Variables
$gray-100: #a87aff !default;
$gray-200: #956ce3 !default;
$gray-300: #7f5cc1 !default;
$gray-400: #694c9f !default;
$gray-500: #563e82 !default;
$gray-600: #47336c !default;
$gray-700: #362752 !default;
$gray-800: #2b1f41 !default;
$gray-900: #1d152c !default;

$hazard-purple: #2A0D5D !default;
$hazard-yellow: #ECBE43 !default;
